.App {
  text-align: center; }

.center {
  margin: 0 auto !important; }

.clientProfileBtns {
  display: flex;
  flex-basis: 200px;
  justify-content: space-around;
  align-items: center;
  padding: 1rem; }

.pending {
  background-color: #ffe400; }

.approved {
  background-color: #14a76c; }

.denied {
  display: none; }

.HorseProfile {
  display: flex;
  flex-direction: column; }
  .HorseProfile .margins {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .HorseProfile .horseEditBtns {
    display: flex;
    flex-basis: 200px;
    justify-content: space-around; }
